body {
    padding: 2rem;
    padding-top: 0.5rem;
}
.h-50px{
    height: 50px;}
.h-100px{
    height: 100px;}
.title{
    margin-top: 3rem;
    font-size: 1.5em;}
.example{
    padding: 1.5rem; 
    border-width: 1px; 
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    position: relative;
    margin:1rem -.75rem 0;
    border: 0.1rem solid #dee2e6}
